body{
  background-color: rgb(255, 248, 241);
}

h1{
  color: white;
  
}
.fejlec {
  background-color: rgb(39, 60, 86);
  padding: 5px;
  text-align: center;
}
.navbar {
  overflow: hidden;
  background-color: rgb(103, 141, 106);
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: rgb(170, 193, 172);
  color: black;
}

iframe{
  height: 200px;
  float: left;
}

.szoveg{
  border: 1px solid black;
  float:left;
  width: 50%;
  padding: 15px;
  margin-bottom: 5px;
}
@media screen and (max-width: 500px) {
.sor, .szoveg {
  width: 100%;
  padding: 0;
}}

.sor:after {
  content: "";
  display: table;
  clear: both;
}

.vissza{
  float:right;
  text-decoration: none;
  color: white;
  border: 2px solid rgb(103, 141, 106);
  background-color: rgb(103, 141, 106);
}
.vissza:hover{
  background-color: rgb(170, 193, 172);
  color: rgb(0, 0, 0);
  border: 2px solid rgb(170, 193, 172);
}

.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
}
